{% load staticfiles %}
<!doctype html>
<html>
<head>
  <!-- Include stylesheets -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet'>
  <title>Django Emailer</title>
  <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>

  <div class="box">
    <h1>Django Email Sender</h1>
    <p>Thank you for using my Django email sender! You should see your email shortly.</p>
  </div>
</body>
</html>
